/*  your css code here. If applicable */
.hero {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
}
#img {
	width: 600px;
	height:200px;
	object-fit: cover;
}
.item {
	margin-left: 10px;
}
.btn{
	padding: 2px;
	background-color: red;
	color: white;
	border-radius: 10%;
}
